<%= form_for(@bitstamp) do |f| %>
  <% if @bitstamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bitstamp.errors.count, "error") %> prohibited this bitstamp from being saved:</h2>

      <ul>
      <% @bitstamp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
  
	 <!-- creates new records-->
  	<%puts "--------------------------BitStamp API Call---------------------"%>
	
	<%=@bitstamp = Bitstamp.create%>
<% end %>
