<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @bitstamp.timestamp %>
</p>

<p>
  <strong>Avgprice:</strong>
  <%= @bitstamp.avgprice %>
</p>

<p>
  <strong>Bid:</strong>
  <%= @bitstamp.bid %>
</p>

<p>
  <strong>Ask:</strong>
  <%= @bitstamp.ask %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @bitstamp.volume %>
</p>

<%= link_to 'Edit', edit_bitstamp_path(@bitstamp) %> |
<%= link_to 'Back', bitstamps_path %>
